
.charList{
    list-style: none;
    padding: 0;
}

.charListItem{
    background-color: rgb(245, 225, 200);
    margin: 10px auto;
    text-align: center;
    padding: 10px 0px;
}
.charListItem:hover{
    cursor: pointer;
    background-color: orange;
    color: white;
}

.professionIcon{
    pointer-events: none;
    width: 400px;
    position: absolute;
    opacity: .15;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
}
.statsAndDisc {
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
}
.statsAndDisc p{
    margin: 0;
    padding: 0;
}
.buttonWrapper{
    align-items: center;
}
.backButton{
    color: orange;
    width: fit-content;
    margin-left: auto;
    font-size:20;
}
.backButton:hover{
    text-decoration: underline;
    cursor: pointer;
}


@media screen and (min-width: 700px){

    .charList{
        grid-template-columns: 1fr 1fr ;
        display: grid;
        gap: 10px;
        margin: 0 auto;
    }
    .charListItem{
        width: 100%
    }
}

@media screen and (min-width: 1200px){
    .mainInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 0 auto;
    }
}