.menuIcons{
    display: flex;
    justify-content: center;    
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}
.menuIcons span, .subMenuIcons span{
display: flex;
align-items: center;
}
.menuIcons span:hover, .subMenuIcons:hover{
    cursor: pointer;    
}
.menuIcons img{
    width: 46px;
    height: 46px;
}
.inactive{
    opacity: 60%;
}
.active{
    opacity: 100%;
    text-decoration: underline;
}
.inactive:hover{
    opacity: 100%;
}

.subMenuIcons{
        display: flex;
        justify-content: center;    
        text-align: center;
        flex-wrap: wrap;
        gap: 20px;
}

.subMenuIcons img{
    width: 25px;
    height: 25px;
}