.expansions{
    display: flex;
}
.expansions img{
    width: 35px;
    margin: 5px;
}

.tableStyle{
    overflow-x:auto;
}
.tableStyle h1{
    text-align: center;
}
.tableStyle td{
    text-align: center;
}
.tableStyle table{
    width: 100%;
}

.tableStyle table tbody td div {
    display: block;
    margin: 0 auto;
}

.tableStyle table thead {
    background-color: var(--primary);
}

.loadingDiv{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingDiv img{
    width: 80px;
    height: 80px;
    animation: rotation 1s infinite linear;
}
.loadingDiv h2{
    opacity: 50%;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

