.bankIconContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bankIconContainer img{
    margin-left: 5px;
    width: 50px;
}

.itemCountContainer{
    position: relative;

}
.itemCount{
    position: absolute;
    top: 35%;
    color: white;
    font-weight: bold;
    left: 25%;
    font-size: 19px;
    text-shadow: 1px 1px black;
    pointer-events: none;

}