.sharedInvIconContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sharedInvIconContainer img{
    margin-left: 5px;
    width: 50px;
}

.itemCountContainer{
    position: relative;

}
.itemCount{
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    left: 25%;
    pointer-events: none;

}