.header-container{
text-align: center;
}
body{
    position: relative;
}
.header-container span:first-of-type{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

/* ADJUST FOR MOBILE */

.header-container span:nth-of-type(2){
    position: absolute;
    right: 20px;
    top: 50px;
}
img{
    width: 40%;
}

.api-keys{
color: var(--primary);
}
.api-keys:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--link);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1{
        margin-top: 80px;
        font-size: 1.2em;
    }
    h3{
        display: none;
    }
    img{
        width: 80%;
        margin-top: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1{
        margin-top: 40px;
        font-size: 1.6em;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}